{{define "menu.html"}}
<aside class="menu" style="background-color: whitesmoke ;padding: 10px;">
  <p class="menu-label">
    Hello, {{.user}}
  </p>
  <div class="buttons">
    <a class="button is-primary" href="/dashboard">
      <strong>Home</strong>
    </a>
    <a class="button is-primary" href="/compose">
      <strong>Compose</strong>
    </a>
  </div>
  <p class="menu-label">
    Find friends
  </p>
  <div class="buttons">
    <a class="button is-primary" href="/find">
      <strong>Search</strong>
    </a>
  </div>
  <p class="menu-label">
    {{.user}}'s Profile
  </p>
  <ul class="menu-list">
    <div class="buttons">
      <a class="button is-primary" href="/followers">
        <strong>Followers</strong>
      </a>
      <a class="button is-primary" href="/following">
        <strong>Following</strong>
      </a>
    </div>
</aside>
{{end}}