<!-- templates/header.html -->

{{define "header.html"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello {{.user}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="icon" href="/assets/favicon.ico">
</head>
<body>
{{template "navbar.html" .}}
{{end}}


<!-- templates/footer.html -->

{{define "footer.html"}}
</body>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
</html>
{{end}}


<!-- templates/index.html -->

{{template "header.html" .}}
<section class="section">
  <div class="container">
    <h1 class="title">
      Hello World
    </h1>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <p>{{.content}}</p>
  </div>
</section>
{{template "footer.html"}}


<!-- templates/login.html -->

{{template "header.html" .}}
<section class="section">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-one-third">

      <form action="/login" method="post">

        <div class="container" style="border: 1px solid lightgray; border-radius: 3px;padding: 15px;">

          {{if .content}}
          <div class="notification is-danger is-light">
            {{.content}}
          </div>

          {{end}}

          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" placeholder="Enter Username" name="username" required>
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="Enter Password" name="password" required>
            </div>
          </div>

          <div class="field">
            <button class="button is-link">Submit</button>
          </div>

        </div>
      </form>
    </div>
    <div class="column"></div>
  </div>
</section>
{{template "footer.html"}}

<!-- templates/navbar.html -->

{{define "navbar.html"}}

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
	<div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/logo.png" style="max-height: 2.50rem;">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
      	{{if .user}}
      	<div class="buttons">
          <a class="button is-primary" href="/dashboard">
            <strong>{{.user}}</strong>
          </a>
          <a class="button" href="/logout">
            Log out
          </a>
        </div>
        {{else}}
        <div class="buttons">
          <a class="button is-primary" href="/login">
            <strong>Log in</strong>
          </a>
        </div>
        {{end}}
      </div>
    </div>
  </div>
  </div>
</nav>

{{end}}


<!-- templates/menu.html -->

{{define "menu.html"}}
<aside class="menu" style="background-color: whitesmoke ;padding: 10px;">
  <p class="menu-label">
    {{.user}}'s Products
  </p>
  <ul class="menu-list">
    <li><a>Create New Product</a></li>
    <li><a>List Products</a></li>
  </ul>
    <p class="menu-label">
    {{.user}}'s Library
  </p>
  <ul class="menu-list">
    <li><a>List Items</a></li>
  </ul>
  <p class="menu-label">
    Settings
  </p>
  <ul class="menu-list">
    <li><a>Profile</a></li>
    <li><a>Payments</a></li>
    <li><a>Affiliates</a></li>
  </ul>
</aside>
{{end}}

<!-- templates/dashboard.html -->

{{template "header.html" .}}
<section class="section">
  <div class="container">
    <h1 class="title">
      Dashboard
    </h1>

    <div class="columns">
      <div class="column is-one-third">{{template "menu.html" .}}</div>
      <div class="column is-two-thirds"><p  style="background-color: whitesmoke; padding: 10px;">{{.content}}</p></div>
    </div>
  </div>
</section>
{{template "footer.html"}}